@charset "utf-8";
/* CSS Document */


/*--------------------------------------------------------------------------------------------------*/

/* PAGINA PRODUCTOS*/
.SeccionesPagina{
	display: grid;
	grid-template-areas:
		"Header"
		"TituloPrincipal"
		"ContenidoPrincipal"
		"Footer";
	grid-template-columns: 100vw;
	grid-template-rows: auto auto auto auto;
	justify-content: center;
}
body .Header{
	grid-area: Header;
}
body .TituloPrincipal{
	grid-area: TituloPrincipal;
}
body .ContenidoPrincipal{
	width: 100%;
	grid-area: ContenidoPrincipal;
}
body .Footer{
	grid-area: Footer;
	align-self: end;
}
	#LogoNavbar{
		
		mix-blend-mode: multiply;}
	
.nav-item{
	font-family: 'Roboto';
}

.ContenidoPrincipal{
	padding-top: 40px;
}

.TituloPrincipal{
	font-family: 'Asap', sans-serif;
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px;
}

#Huevo1{
	background-image: url("../Recursos/HuevoLibre.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 300px;
	width: 300px;;
}

#Huevo2{
	background-image: url("../Recursos/HuevoBlanco.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 300px;
	width: 300px;;
}

#Huevo3{
	background-image: url("../Recursos/HuevoCafe.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 300px;
	width: 300px;
}

.TextoHuevo{
	padding-top: 20px;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
}
/*--------------------------------------------------------------------------------------------------*/

/* PAGINA NOSOTROS*/

.ContenidoNosotros{
	display: flex;
	flex-direction: row;
	width: 99vw;
	height: auto;
	margin-top: 20px;
	justify-content: center;
}

.Articulo1{
	width: 600px;
	height: 400px;
	font-family: 'Open Sans', sans-serif;
	text-align: justify;
	font-size: 14px;
	margin-right: 20px;}
.Articulo2{
	margin-left: 20px;
}
#ImagenNosotros{
	width: 600px;
	height: 400px;
	border-radius: 40px;
	background-image: url("../Recursos/ImagenHuevos.jpg");
	background-size: cover;
}

/*--------------------------------------------------------------------------------------------------*/

/* PAGINA RECETAS*/

.TodasLasRecetas{
	width: 100vw;
	display: flex;
	flex-direction: row; 
	justify-content: center;
}
#GrupoRecetas{
	display: flex;
	flex-direction: column;
	width: 250px;
	height: 1100px;
}
#GrupoRecetas .Receta1, #GrupoRecetas .Receta2, #GrupoRecetas .Receta3 {
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 40px;
}
.Receta1{
	opacity: 100%;
	height: 300px;
	transition: opacity, height 0.5s;
}
.Receta1:hover{
	opacity: 20%;
	height: 320px;
}
.Receta2{
	opacity: 100%;
	height: 400px;
	transition: opacity, height 0.5s;
}
.Receta2:hover{
	opacity: 20%;
	height: 420px;
}
.Receta3{
	opacity: 100%;
	height: 300px;
	transition: opacity, height 0.5s;
}
.Receta3:hover{
	opacity: 20%;
	height: 320px;
}



#GrupoRecetas2{
	display: flex;
	flex-direction: column;
	width: 250px;
	height: 1100px;
}
#GrupoRecetas2 .Receta4, #GrupoRecetas2 .Receta5, #GrupoRecetas2 .Receta6 {
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 40px;
}
.Receta4{
	opacity: 100%;
	height: 360px;
	transition: opacity, height 0.5s;
}
.Receta4:hover{
	opacity: 20%;
	height: 380px;
}
.Receta5{
	opacity: 100%;
	height: 280px;
	transition: opacity, height 0.5s;
}
.Receta5:hover{
	opacity: 20%;
	height: 300px;
}
.Receta6{
	opacity: 100%;
	height: 360px;
	transition: opacity, height 0.5s;
}
.Receta6:hover{
	opacity: 20%;
	height: 380px;
}




#GrupoRecetas3{
	display: flex;
	flex-direction: column;
	width: 250px;
	height: 1100px;
}
#GrupoRecetas3 .Receta7, #GrupoRecetas3 .Receta8, #GrupoRecetas3 .Receta9 {
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 40px;
}
.Receta7{
	opacity: 100%;
	height: 300px;
	transition: opacity, height 0.5s;
}
.Receta7:hover{
	opacity: 20%;
	height: 320px;
}
.Receta8{
	opacity: 100%;
	height: 400px;
	transition: opacity, height 0.5s;
}
.Receta8:hover{
	opacity: 20%;
	height: 420px;
}
.Receta9{
	opacity: 100%;
	height: 300px;
	transition: opacity, height 0.5s;
}
.Receta9:hover{
	opacity: 20%;
	height: 320px;
}



#GrupoRecetas4{
	display: flex;
	flex-direction: column;
	width: 250px;
	height: 1100px;
}
#GrupoRecetas4 .Receta10, #GrupoRecetas4 .Receta11, #GrupoRecetas4 .Receta12 {
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 40px;
}
.Receta10{
	opacity: 100%;
	height: 360px;
	transition: opacity, height 0.5s;
}
.Receta10:hover{
	opacity: 20%;
	height: 380px;
}
.Receta11{
	opacity: 100%;
	height: 280px;
	transition: opacity, height 0.5s;
}
.Receta11:hover{
	opacity: 20%;
	height: 300px;
}
.Receta12{
	opacity: 100%;
	height: 360px;
	transition: opacity, height 0.5s;
}
.Receta12:hover{
	opacity: 20%;
	height: 380px;
}



#GrupoRecetas5{
	display: flex;
	flex-direction: column;
	width: 250px;
	height: 1100;
}
#GrupoRecetas5 .Receta13, #GrupoRecetas5 .Receta14, #GrupoRecetas5 .Receta15 {
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 40px;
}
.Receta13{
	opacity: 100%;
	height: 300px;
	transition: opacity, height 0.5s;
}
.Receta13:hover{
	opacity: 20%;
	height: 320px;
}
.Receta14{
	opacity: 100%;
	height: 400px;
	transition: opacity, height 0.5s;
}
.Receta14:hover{
	opacity: 20%;
	height: 420px;
}
.Receta15{
	opacity: 100%;
	height: 300px;
	transition: opacity, height 0.5s;
}
.Receta15:hover{
	opacity: 20%;
	height: 320px;
}


/* IMAGENES RECETAS */

.Receta1{
	background-image: url("../Recursos/Receta1.jpg");
	flex-grow: 1;
	background-size:cover;
}
.Receta2{
	background-image: url("../Recursos/Receta2.jpg");
	flex-grow: 1;
	background-size:cover;
}
.Receta3{
	background-image: url("../Recursos/Receta3.jpg");
	flex-grow: 1;
	background-size:cover;
}
.Receta4{
	background-image: url("../Recursos/Receta4.jpg");
	flex-grow: 1;
	background-size:cover;
}
.Receta5{
	background-image: url("../Recursos/Receta5.jpg");
	flex-grow: 1;
	background-size:cover;
}
.Receta6{
	background-image: url("../Recursos/Receta6.jpg");
	flex-grow: 1;
	background-size:cover;
}
.Receta7{
	background-image: url("../Recursos/Receta7.jpg");
	flex-grow: 1;
	background-size:cover;
}
.Receta8{
	background-image: url("../Recursos/Receta8.jpg");
	flex-grow: 1;
	background-size:cover;
}
.Receta9{
	background-image: url("../Recursos/Receta9.jpg");
	flex-grow: 1;
	background-size:cover;
}
.Receta10{
	background-image: url("../Recursos/Receta10.jpg");
	flex-grow: 1;
	background-size:cover;
}
.Receta11{
	background-image: url("../Recursos/Receta11.jpg");
	flex-grow: 1;
	background-size:cover;
}
.Receta12{
	background-image: url("../Recursos/Receta12.jpg");
	flex-grow: 1;
	background-size:cover;
}
.Receta13{
	background-image: url("../Recursos/Receta13.jpg");
	flex-grow: 1;
	background-size:cover;
}
.Receta14{
	background-image: url("../Recursos/Receta14.jpg");
	flex-grow: 1;
	background-size:cover;
}
.Receta15{
	background-image: url("../Recursos/Receta15.jpg");
	flex-grow: 1;
	background-size:cover;
}

/*--------------------------------------------------------------------------------------------------*/

/* PAGINA CONTACTO*/

.ContenidoContacto{
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: auto;
	justify-content: center;
}
.CuadroContacto{
	margin-top: 10px;
	width: 500px;
	height: 550px;
}
#BotonEnviar{
	margin-top: 25px;
}
/*--------------------------------------------------------------------------------------------------*/

/* FOOTER*/

.ColorTexto{
	color: #FFFFFF;
}
.Footer{
	margin-top: 100px;
	height: 55px;
	padding-top: 20px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	background-image: linear-gradient(to left, #FF7700, #F1DB4B);
	font-size: 12px;
}